.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 15, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* text-transform: uppercase; */
}

.modal-card {
  background-color: #353535;
  /* border-left: 4px solid #00ffff; */
  padding: 24px;
  width: 320px;
  color: #e0e0e0;
  border-radius: 6px;
}

.modal-card h2 {
  margin-top: 0;
  font-size: 18px;
  /* text-transform: uppercase; */
  margin-bottom: 16px;
}

.modal-card label {
  font-size: 12px;
  margin-top: 12px;
  display: block;
}

.modal-card input,
.modal-card select,
.modal-card textarea {
  width: 100%;
  background-color: #3c3c3c;
  border: 1px solid #6ec0ff;
  color: #e0e0e0;
  padding: 6px;
  margin-top: 4px;
  font-size: 12px;
  border-radius: 4px;
}

.toggle-label {
  font-size: 12px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  box-shadow: none;
}

.modal-actions button {
  /* border: 1px solid #00ffff; */
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}

.modal-actions button:hover {
  opacity: 80%;

}
.create-zone-button {
    border: 1px solid rgba(73, 255, 17, 0.8);
    background-color: rgba(42, 255, 42, 0.1);
    color: white;
}

.cancel-zone-button {
    border: 1px solid rgb(255, 26, 26, 0.8);
    background-color: rgba(255, 26, 26, 0.1);
    color: white;
}

.error-message-wrapper {
  box-shadow: none;
}

.zoom-levels-wrapper {
  box-shadow: none;
}

.add-zoom-level-button {
  border: 1px solid rgba(73, 255, 17, 0.8);
  background-color: rgba(42, 255, 42, 0.1);
  color: white;
}

.remove-zoom-levels-button {
   border: 1px solid rgb(255, 26, 26, 0.8);
   background-color: rgba(255, 26, 26, 0.1);
   color: white;
}

.zoom-levels {
  text-align: horizontal;
  align-items: horizontal;
  box-shadow: none;
  width: 100%;
}

.zoom-levels p {
  display: inline;
  font-weight: bold;
}

.zoom-levels-wrapper button {
  /* border: 1px solid #00ffff; */
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
  color: white;
}
