body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  /* font-family: 'Roboto'; */
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-transform: uppercase; */
}

:root {
  --sidebar-background-color: #1a1a1a;
  --zone-background-color: rgb(69, 69, 69);
  --ship-background-color: #252525;
  
  --zone-hover-background-color: rgb(48, 53, 54);
  --ship-hover-background-color:#313436;

  --text-color-light: rgb(255, 255, 255);
  --text-color-dark: rgb(154, 154, 154);

  --online-light: rgb(0, 255, 81);
  --online-dark: rgba(0, 255, 81, 0.077);

  --offline-light: rgb(255, 0, 0);
  --offline-dark: rgba(255, 0, 0, 0.08);

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


