.map-view-container {
    height: 100%;
    width: 70%;
    display: block;
    position: relative;
}
#map-container-div {
    height: 100%; 
    width: 100%; 
    display: block; 
}

#map-container-div div {
  box-shadow: none;
}

.leaflet-container {
    height: 100%;
    width: 100%;
    display: block;
}

.leaflet-control {
    /* background-color: var(--sidebar-background-color); */
    box-shadow: none;
}

.leaflet-control > a {
    color: grey;
}

.leaflet-control > div {
    box-shadow: none;
}
.leaflet-right > div {
    box-shadow: none;
}
.leaflet-right {
    box-shadow: none;
}

.center-logger {
  box-shadow: 0 0 0 0.5px #ccc !important;
}

.ais-map-container .ais-ship-icon, .pulse-wrapper {
    box-shadow: none;
}

/* The container for the history popups */
.leaflet-tooltip.history-popup {
  box-shadow: 0 0 0 0.5px #ccc !important;
  background-color: var(--sidebar-background-color);
  color: var(--text-color-light);
  border: none;
  opacity: 100;
  
}

.history-popup div {
  box-shadow: none;
}

.history-popup .key {
  color: var(--text-color-dark);
}

.leaflet-container {
  cursor: default; /* options: pointer, grab, default, etc. */
}

.leaflet-container div {
  cursor: default;
}

.leaflet-marker-icon.custom-cluster {
  display: flex;
  color: var(--text-color-dark);
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 255, 0, 0);
  border-radius: 100%;
  border: 1px solid rgb(34, 255, 0);
}

.custom-cluster:hover {
  /* border: 2px solid rgb(34, 255, 0); */
  background-color: rgba(34, 255, 0, 0.257);
}

.highlight-cluster {
  display: flex;
  color: var(--text-color-dark);
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.932);
  border-radius: 100%;
  border: 1px solid rgb(255, 0, 0);
}

.highlight-cluster:hover {
  /* border: 2px solid rgb(34, 255, 0); */
  background-color: rgba(255, 0, 0, 0.348);
}

.flash-white {
  animation: flashWhite 0.2s 3; /* 0.2s per flash, repeat 3 times */
}

@keyframes flashWhite {
  0%, 100% { fill: var(--ship-color); }  /* original color */
  50% { fill: black; }                   /* flash white */
}

.leaflet-control-attribution { 
    max-width: 20px; 
    overflow: hidden; 
    white-space: nowrap;
     text-overflow: ellipsis;
      cursor: pointer; 
      transition: max-width 0.25s ease;
     } 

     .leaflet-control-attribution:hover { 
      max-width: 300px 
    }

/* Mobile Rules */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: var(--sidebar-drawer-min-height);
    max-height: 60vh;
    overflow-y: auto;
    z-index: 999 !important;
  }
  .map-view-container {
    width: 100%;
    /* z-index: 997 !important; */
  }
  .ship-popup {
    width: 80%;
    margin-left: 10px !important;
    position: fixed;
    z-index: 998 !important;
  }

  .center-logger {
    display: none;
  }

  
}

