# UI version metadata
REACT_APP_UI_VERSION=1.00.001

# Map provider url and attribution (Free example tile server provided here)
REACT_APP_TILE_SERVER_URL=https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}
REACT_APP_TILE_SERVER_ATTRIBUTION="Source: Esri, Maxar, Earthstar Geographics, and the GIS User Community"

# Local endpoints
REACT_APP_REPOSITORY_SERVICE_BASE_URL=http://localhost:8080/repository/api/v1
REACT_APP_WS_URL=http://localhost:5000