.zone-header-wrapper {
    box-shadow: none;
    background-color: var(--zone-background-color);
    transition: background-color 0.2s ease;
}

.zone-header-wrapper:hover,
.zone-header-wrapper:hover * {
    background-color: var(--zone-hover-background-color);
    transition: background-color 0.2s ease;
}

