.center-logger {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 140px;
    padding: 6px;
    color: var(--text-color-light);
    z-index: 1000;
    align-content: center;
    text-align: center;
    box-shadow: 0 0 0 0.5px #ccc !important;
    background-color: var(--sidebar-background-color);
    border: none;
    border-radius: 2px;
}