.leaflet-div-icon {
  display: none;
  background-color: #00ffff !important; /* Tactical cyan */
  border: 1px solid #00ffff !important;
  border-radius: 50% !important;        /* Make them circular */
  width: 8px !important;
  height: 8px !important;
  box-shadow: 0 0 4px rgba(0, 255, 255, 0.4);
}

.leaflet-draw-toolbar a {
  /* background-color: #1a1f27 !important; */
  /* border: 1px solid #00ffff !important; */
  box-shadow: 0 0 4px rgba(0, 255, 255, 0.2);
  width: 32px;
  height: 32px;
  box-shadow: none;
}

.leaflet-draw-toolbar div {
  /* background-color: #1a1f27 !important; */
  /* border: 1px solid #00ffff !important; */
  /* box-shadow: 0 0 4px rgba(0, 255, 255, 0.2); */
  width: 32px;
  height: 32px;
  box-shadow: none;
}

.leaflet-draw-toolbar a:hover {
  background-color: #112a45 !important;
}


