.map-view-container {
    height: 100%;
    width: 70%;
    display: block;
    position: relative;
}
#map-container-div {
    height: 100%; 
    width: 100%; 
    display: block; 
}

.leaflet-container {
    height: 100%;
    width: 100%;
    display: block;
}

.leaflet-control {
    /* background-color: var(--sidebar-background-color); */
    box-shadow: none;
}

.leaflet-control > a {
    color: grey;
}

.leaflet-control > div {
    box-shadow: none;
}
.leaflet-right > div {
    box-shadow: none;
}
.leaflet-right {
    box-shadow: none;
}

