.ship-list {
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    box-shadow: none;
    /* background-color: var(--ship-background-color); */
    border-left: 2px solid white;
    margin-left: 6%;
}