##############################################
# AWS / LocalStack configuration
##############################################
AWS_URL=http://localstack:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1
AWS_REGION_NAME=us-east-1

##############################################
# Terraform-generated values
##############################################
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:ais_message
REPOSITORY_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/ais_repository_queue
BROADCASTER_QUEUE_URL=http://sqs.us-east-1.localhost.localstack.cloud:4566/000000000000/ais_broadcaster_queue

##############################################
# Per service configuration
##############################################
# Database
DB_NAME=ais_data
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=host.docker.internal
DB_PORT=5432

# Ingestor service
AIS_MESSAGE_BATCH_SIZE=10
WS_API_KEY=your_api_key_here
WS_API_URL=wss://stream.aisstream.io/v0/stream
WS_RETRY_SECONDS=2

# Repository service
HISTORY_PRUNE_ENABLED=false
MAX_HISTORY_PER_MMSI=100
HISTORY_PRUNE_QUERY_INTERVAL=5

# Broadcaster service
BROADCASTER_PORT=5000
