
.sidebar {
  display: flex;
  flex-direction: column;


  width: 30%;
  height: 100vh;
  background-color: var(--sidebar-background-color);
  color: var(--text-color-light);
  /* float: left; */
  box-shadow: 0 0 0 0.5px #ccc;
  overflow-y: hidden;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-footer {

  flex-shrink: 0;
  height: 4vh;
  width: 100%;
  /* padding-right: 4px; */
  background-color: var(--sidebar-background-color);
  font-size: 10px;
  text-align: right;
}

.sidebar-footer p {
  margin-right: 4px;
  color: var(--text-color-dark);
}

