.detect-ships-button {
  background-color: #118fce;
  color: var(--text-color-light);
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 16px;
  width: 10vw;
  height: 5vh;
  margin-top: 5vh;
}

.sidebar {
  width: 30%;
  height: 95vh;
  background-color: var(--sidebar-background-color);
  color: var(--text-color-light);
  float: left;
  height: 100%;
  box-shadow: 0 0 0 0.5px #ccc;
  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.zones-list-header {
    font-size: 14px;
    box-shadow: none;
    padding-left: 5%;
}

.zones-list {
  box-shadow: none;
}
