.tab {
    box-shadow: none;
    display: flex;
    align-items: center;       /* Vertically center content */
    justify-content: center;
    background-color: var(--sidebar-background-color);
    padding-left: 2%;
    width: 50%;
    height: 100%;
    font-size: 12px;
    margin: 0;
    margin-bottom: 2px;
    transition: background-color 0.1s ease;
    border-bottom: 2px solid transparent; 
    color: var(--text-color-dark);
}

.tab.selected:hover {
    box-shadow: none;
    border-bottom: 2px solid var(--online-light);
    transition: background-color 0.1s ease;
}

.tab.selected {
    box-shadow: none;
    background-color: var(--ship-background-color);
    border-bottom: 2px solid var(--online-light);
    color: var(--online-light);
}